spring_boot_all/springboot_fullstack/demoxml/schema_demo/name.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.oracle.com/name"
	xmlns:tns="http://www.oracle.com/name" 
	elementFormDefault="unqualified">
	<element name="name">
		<complexType>
			<sequence>
				<element name="first" type="string"/>
				<element name="middle" type="string"/>
				<element name="last" type="string"/>
			</sequence>
			<attribute name="title" type="string"/>
		</complexType>
	</element>
</schema>